/* <<<
 * 20200427/G.Jaekel@DNB.DE   make raisehand more noticeable
 * 20200512/G.Jaekel@DNB.DE   make it even a bit more noticeable, humans seems more sensible to motion ...
 */

@keyframes raisehand {
  from {background-color: #165ecc;}
  to {background-color: red; transform: scale(1.1);}
}

.raisehandindicator {
  animation-name: raisehand;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

/* >>> */


/* <<<
 * 20200522/G.Jaekel@DNB.DE     On small browser windows, the left toolbar renders to wide. Make it wrapping around.
 */

.new-toolbox {
  bottom:calc((40px * 3) * -1); /* was: calc((40px * 2) * -1); */
}
.button-group-left {
  flex-wrap: wrap;
}

/* >>> */
