target/
work/
*.class
*.cmd

# ignore copied jitsi meet
classes/jitsi-meet
classes/docs

# Ignore Intellij Idea project files
*.iml
*.ipr
.idea
atlassian-ide-plugin.xml
out/

# Ignore Eclipse project files
.settings
.project
.classpath
.factorypath
.theia

# Ignore MacOSX files
.DS_Store

# Ignore Netbeans project files
nbproject/
nbbuild/
/bin/

