/* ----------------------------------------------------------- */
/* == tingle v0.15.2 */
/* ----------------------------------------------------------- */
.tingle-modal * {
  box-sizing: border-box;
}

.tingle-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(13, 20, 36, 0.63);
  user-select: none;
  -webkit-user-select: none;
  font-size: 14px;
  transition: opacity .3s ease;
}

/* confirm and alerts
-------------------------------------------------------------- */
.tingle-modal--confirm .tingle-modal-box {
  text-align: center;
}

/* modal
-------------------------------------------------------------- */
.tingle-modal--noOverlayClose {
  cursor: default;
}

.tingle-modal--noClose .tingle-modal__close {
  display: none;
}

.tingle-modal__close {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  color: #a4b8d1;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.tingle-modal__close svg * {
  fill: currentColor;
}

.tingle-modal__closeLabel {
  display: none;
}

.tingle-modal__close:hover {
  color: #fff;
}

.tingle-modal-box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
  max-height: 90%;
  width: 60%;
  border-radius: 3px;
  background: rgb(40, 52, 71);
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 1px, rgba(9, 30, 66, 0.31) 0px 0px 20px -6px;
  opacity: 1;
  cursor: auto;
  will-change: transform, opacity;
}

.modal-lg .tingle-modal-box {
  width: 90%;
}

.modal-sm .tingle-modal-box {
  width: 50%;
}

.modal-fix-height .tingle-modal-box {
  height: 90%;
}

.tingle-modal-box__content {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.tingle-modal-box__footer {
  padding: 1.5rem 2rem;
  width: auto;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: auto;
  display: flex;
  justify-content: flex-end;
}

.tingle-modal-box__footer::after {
  display: table;
  clear: both;
  content: "";
}

.tingle-modal-box__footer--sticky {
  position: fixed;
  bottom: -200px;
  /* TODO : find a better way */
  z-index: 10001;
  opacity: 1;
  transition: bottom .3s ease-in-out .3s;
}

/* state
-------------------------------------------------------------- */
.tingle-enabled {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.tingle-modal--visible .tingle-modal-box__footer {
  bottom: 0;
}

/*.tingle-enabled .tingle-content-wrapper {
  filter: blur(4px);
}

@supports ((-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px))) {
  .tingle-modal:before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    opacity: inherit;
  }

  .tingle-enabled .tingle-content-wrapper {
    filter: none;
  }
}*/
.tingle-modal--visible {
  opacity: 1;
}

.tingle-modal--visible>.tingle-modal-box {
  animation: modal-open .5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

:not(.tingle-modal--visible)>.tingle-modal-box {
  animation: modal-close .5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.tingle-modal--overflow {
  overflow-y: scroll;
  padding-top: 8vh;
}

/* responsive
-------------------------------------------------------------- */
@media (max-width : 540px) {
  .tingle-modal {
    top: 0px;
    display: block;
    padding-top: 60px;
    width: 100%;
  }

  .tingle-modal-box {
    width: auto;
    border-radius: 0;
  }

  .modal-lg .tingle-modal-box, .modal-sm .tingle-modal-box {
    width: 100%;
  }

  .modal-fix-height .tingle-modal-box {
    height: 100%;
  }

  .modal-title {
    width: 100%;
  }

  .tingle-modal-box__content {
    overflow-y: scroll;
  }

  .tingle-modal--noClose {
    top: 0;
  }

  .tingle-modal--noOverlayClose {
    padding-top: 0;
  }

  .tingle-modal-box__footer .btn {
    display: block;
    float: none;
    margin-bottom: 1rem;
    width: 100%;
  }
}

/* animations
-------------------------------------------------------------- */
@keyframes modal-open {
  0% {
    transform: translateY(+32px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes modal-close {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-32px);
  }
}

/* modal
-------------------------------------------------------------- */
.modal-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex: none;
  padding: 8px 8px;
  border-bottom: 2px solid rgb(94, 109, 122);
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  color: rgb(184, 199, 224);
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 500;
}

.modal-body {
  position: relative;
  flex: auto;
  padding: 1rem;
  color: rgb(184, 199, 224);
  overflow-y: scroll;
}

.form-group {
  margin-bottom: 1rem
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(184, 199, 224);
  background-color: rgb(32, 43, 61);
  background-clip: padding-box;
  border: 1px solid rgb(14, 22, 36);
  border-radius: 3px;
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .form-control {
    transition: none
  }
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057
}

.form-control:hover {
  background-color: rgb(27, 38, 56);
}

.form-control:focus {
  background-color: rgb(27, 38, 56);
  outline: 0;
  box-shadow: 0 0 .2rem .1rem rgb(179, 212, 255, .5)
}

.form-control::placeholder {
  color: rgb(14, 22, 36);
  opacity: 1
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-input {
  margin-top: 0.3rem;
  margin-left: 0.25rem;
  margin-right: 0.3rem;
}

.form-check-input:disabled~.form-check-label {
  color: #6c757d;
}

.form-check-app-input {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.form-check-app-input+.form-check-app-label {
  cursor: pointer;
  display: inline-block;
  box-sizing: content-box;
  position: relative;
  width: 32px;
  height: 16px;
  background-color: rgb(59, 71, 92);
  border: 2px solid transparent;
  border-radius: 16px;
  margin-bottom: -4px;
}

.form-check-app-input+.form-check-app-label:hover {
  background-color: rgb(49, 61, 82);
}

.form-check-app-input:focus+.form-check-app-label {
  border: 2px solid rgb(179, 212, 255);
}

.form-check-app-input:checked+.form-check-app-label {
  background-color: rgb(54, 179, 126);
}

.form-check-app-input:checked+.form-check-app-label:hover {
  background-color: rgb(87, 217, 163);
}

.form-check-app-input+.form-check-app-label:before {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background-color: rgb(184, 199, 224);
  transition: all 0.3s ease;
}

.form-check-app-input+.form-check-app-label:after {
  content: "";
  position: absolute;
  display: block;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(184, 199, 224)" fill-rule="evenodd" d="M15.185 7.4l-3.184 3.185-3.186-3.186a.507.507 0 00-.712.003l-.7.701a.496.496 0 00-.004.712l3.185 3.184L7.4 15.185a.507.507 0 00.004.712l.7.7c.206.207.516.2.712.004l3.186-3.185 3.184 3.185a.507.507 0 00.712-.004l.701-.7a.496.496 0 00.003-.712l-3.186-3.186 3.186-3.184a.507.507 0 00-.003-.712l-.7-.7a.508.508 0 00-.36-.153.5.5 0 00-.353.15z"/></svg>');
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 0;
}

.form-check-app-input:checked+.form-check-app-label:before {
  transform: translateX(16px);
  background-color: rgb(13, 20, 36);
  transition: all 0.3s ease;
}

.form-check-app-input:checked+.form-check-app-label:after {
  content: "";
  position: absolute;
  display: block;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.356 10.942a.497.497 0 00-.713 0l-.7.701a.501.501 0 00-.003.71l3.706 3.707a.501.501 0 00.705.003l7.712-7.712a.493.493 0 00-.006-.708l-.7-.7a.504.504 0 00-.714 0l-6.286 6.286a.506.506 0 01-.713 0l-2.288-2.287z"/></svg>');
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
}

.form-check-label {
  margin-bottom: 0;
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 0 .5rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .btn {
    transition: none
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 .2rem .1rem rgba(179, 212, 255, .5)
}

.btn.disabled,
.btn:disabled {
  opacity: .65
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none
}

.btn-primary {
  color: rgb(27, 38, 56);
  background-color: rgb(76, 154, 255);
}

.btn-primary:hover {
  color: rgb(27, 38, 56);
  background-color: rgb(179, 212, 255);
}

.btn-primary.focus,
.btn-primary:focus {
  color: rgb(27, 38, 56);
  background-color: rgb(38, 132, 255)
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: rgb(27, 38, 56);
  background-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

.btn-secondary {
  color: #fff;
  background-color: rgb(40, 52, 71);
}

.btn-secondary:hover {
  color: #fff;
  background-color: rgb(49, 61, 82);
}

.btn-secondary.focus,
.btn-secondary:focus {
  color: rgb(38, 132, 255);
  background-color: rgb(179, 212, 255)
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5)
}

.btn-success {
  color: #fff;
  background-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
}

.btn-success.focus,
.btn-success:focus {
  color: #fff;
  background-color: #218838
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
}

.btn-info.focus,
.btn-info:focus {
  color: #fff;
  background-color: #138496
}

.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: #17a2b8;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5)
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
}

.btn-warning.focus,
.btn-warning:focus {
  color: #212529;
  background-color: #e0a800
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
}

.btn-danger.focus,
.btn-danger:focus {
  color: #fff;
  background-color: #c82333
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}

.btn-group-lg>.btn,
.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem
}

.btn-group-sm>.btn,
.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem
}

.btn-block {
  display: block;
  width: 100%
}

.btn-block+.btn-block {
  margin-top: .5rem
}

input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
  width: 100%
}

.col-form-label {
  /*padding-top: calc(.375rem + 1px);*/
  padding-bottom: calc(.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5
}

.col-form-label-lg {
  padding-top: calc(.5rem + 1px);
  padding-bottom: calc(.5rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5
}

.col-form-label-sm {
  padding-top: calc(.25rem + 1px);
  padding-bottom: calc(.25rem + 1px);
  font-size: .875rem;
  line-height: 1.5
}

.form-inline {
  display: flex;
}

.form-inline label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0
}

.form-inline label+.form-control {
  margin-left: 10px;
}

.form-inline .form-control+label {
  margin-right: 10px;
}

.form-inline .form-group {
  display: flex;
  flex: none;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle
}

.form-inline .form-control-plaintext {
  display: inline-block
}

.form-inline .custom-select,
.form-inline .input-group {
  width: auto
}

.form-inline .form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding-left: 0
}

.form-inline .form-check-input {
  position: relative;
  flex-shrink: 0;
  margin-top: 0;
  margin-right: .25rem;
  margin-left: 0
}

.form-inline .custom-control {
  align-items: center;
  justify-content: center
}

.form-inline .custom-control-label {
  margin-bottom: 0
}

.pade-col-container {
  display: flex;
  flex-wrap: wrap;
  color: #FFF;
}

.pade-col {
  display: flex;
  padding: 0.5em;
  width: 23%;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  background: rgb(66, 82, 110);
}

.pade-col-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  fill: currentColor
}

.pade-control-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}
