/*
 * 20200427/G.Jaekel@DNB.DE   make raisehand more noticeable
 * 20200512/G.Jaekel@DNB.DE   make it even a bit more noticeable, humans seems more sensible to motion ...
 */

@keyframes raisehand {
  from {background-color: #165ecc;}
  to {background-color: red; transform: scale(1.1);}
}

.raisehandindicator {
  animation-name: raisehand;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

.speaker-room-button {
    border: 0;
    font-size: 14px;
    background: #0074e0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 16px 20px;
}


/*
 * 20200522/G.Jaekel@DNB.DE     On small browser windows, the left toolbar renders to wide. Make it wrapping around.
 * 20210109/G.Jaekel@DNB.DE     The same issue rises for the right toolbar, meanwhile
 */

.new-toolbox {
  bottom:calc((40px * 3) * -1); /* was: calc((40px * 2) * -1); */
}
.button-group-left {
  flex-wrap: wrap;
}
.button-group-right {
  flex-wrap: wrap;
}


/*
 * 20210102/G.Jaekel@DNB.DE     make "green" (good) connection state indicator hidden after a while to keep display clean
 *
 * to restart an animation on hover, use two exact clones with a different name,  see https://css-tricks.com/restart-css-animation/
 */

@keyframes status-high-1 {
  from { }
  to { opacity: 0%; filter: opacity(0%); }
}

@keyframes status-high-2 {
  from { }
  to { opacity: 0%; filter: opacity(0%); }
}

.connection-indicator.status-high {
  animation-name: status-high-1;
  animation-delay: 20s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.connection-indicator.status-high:hover {
  animation-name: status-high-2;
  animation-delay: 20s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


/*
 * 20210104/gj  Allow the Conferences Display at the Welcome Page to show more entires
 */

.welcome .tab-container .tab-content {
    height: unset;
    max-height: 500pt;
}

.ofmeet-tooltip {
    position: relative;
}

.ofmeet-tooltip::after {
    background-color: rgb(13, 20, 36);
    border-radius: 3px;
    color: rgb(184, 199, 224);
    content: attr(aria-label);
    display: block;
    font-size: 12px;
    font-weight: 400;    
    line-height: 15.6px;
    margin: 0;
    max-width: 240px;
    overflow-wrap: break-word;
	opacity: 0;
    padding: 2px 6px;
    position: absolute;
	pointer-events: none;
    top: 0;
    left: 0;
    transform: translate(calc(-50% + 20px), calc(-100% - 8px));
    transition-delay: 0.5s;
	transition-duration: 0.3s;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1), linear;
    white-space: nowrap;
	user-select: none;
    z-index: 800;
}

.ofmeet-tooltip:hover {
    cursor: pointer;
}

.ofmeet-tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}
