<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>org.ifsoft.download.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>     
    
    <servlet>
        <servlet-name>smartidcard</servlet-name>
        <servlet-class>org.ifsoft.sso.SmartIdCard</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>smartidcard</servlet-name>
        <url-pattern>/smartidcard</url-pattern>
    </servlet-mapping>     
    
    <servlet>
        <servlet-name>smartidcardcert</servlet-name>
        <servlet-class>org.ifsoft.sso.SmartIdCardCert</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>smartidcardcert</servlet-name>
        <url-pattern>/smartidcardcert</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>webhookServlet</servlet-name>
        <servlet-class>org.ifsoft.webhook.WebhookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>webhookServlet</servlet-name>
        <url-pattern>/webhook</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>branding</servlet-name>
        <servlet-class>org.jivesoftware.openfire.plugin.ofmeet.BrandingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>branding</servlet-name>
        <url-pattern>/options/branding.js</url-pattern>
    </servlet-mapping>    
    
    <filter>
        <filter-name>Github-XHubFilter</filter-name>
        <filter-class>fr.brouillard.oss.security.xhub.servlet.XHubFilter</filter-class>
        <init-param>
            <param-name>x-hub-token</param-name>
            <param-value>password4tests</param-value>
        </init-param>
        <init-param>
            <param-name>x-hub-converter</param-name>
            <param-value>HEXA_LOWERCASE</param-value>       <!-- convert the data as an hexadecimal string with lowercase letters  -->
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Github-XHubFilter</filter-name>
        <servlet-name>webhookServlet</servlet-name>
    </filter-mapping>    
</web-app>
